# Hidden Folders
.cache
.cargo
.local
.mozilla
.pki
.rustup
.var
.vscode

# General Configs
.config/*
!.config/alacritty
# !.config/gtk-2.0
# !.config/gtk-3.0
# !.config/gtk-4.0
!.config/neofetch
!.config/polybar
!.config/picom

# WM Configs
!.config/awesome
!.config/hyprland
!.config/i3
!.config/leftwm
!.config/sway

# Hidden Files
.bash_history
.bash_logout
.lesshst

# Folders
dev
Dev
documents
Documents
downloads
Downloads
music
Music
public
Public
software
Software
pictures
Pictures
videos
Videos

sda
